<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ExamsAndLaboratory</display-name>

	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>cupertino</param-value>
	</context-param>
	<welcome-file-list>
		<welcome-file>page_inicial.xhtml</welcome-file>
	</welcome-file-list>

	<!-- Não deixa mostrar os comentários na inspenção de elementos -->
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
		<!-- Iniciando o contexto do hibernate junto com o tomcat -->
	<listener>
		<listener-class>br.com.exams.util.ContextListener</listener-class>
	</listener>
</web-app>